.overlay-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

.thank-you-container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}