body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://shauryafest.in/assets/landing-page-048aa2d7.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

.signup-btn-container {
    position: relative;
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shourya-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 73px;
    background-image: url("https://shauryafest.in/assets/logo-shaurya-bd7e4925.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.signup-btn {
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(0 255 132);
    background-color: darkslategrey;
    border: 1px solid yellow;
    border-radius: 3rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(3);
}

.signup-btn:hover {
    color: yellow;
    box-shadow:
        inset 0 -3em 3em rgb(0 255 0 / 30%),
        0 0 0 2px white,
        0.3em 0.3em 4em blue;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.overlay-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

.form {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.gender-group,
.sports-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gender-group input[type="radio"],
.sports-group input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 5px;
}

.gender-group label,
.sports-group label {
    display: inline;
    margin-right: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: darkslategrey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: darkcyan;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: darkslategrey;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.btn-close:hover {
    background-color: darkred;
}

.count {
    display: inline;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .shourya-logo {
        top: 10px;
        left: 10px;
        width: 100px;
        height: 50px;
    }

    .signup-btn {
        padding: 0.5rem 1rem;
    }

    .overlay-container {
        width: 90%;
        padding: 10px;
    }

    .form {
        font-size: 14px;
    }

    .btn-close {
        width: 25px;
        height: 25px;
        font-size: 16px;
        line-height: 25px;
    }

    .count-userbox {
        font-size: 16px;
    }
}

.toggle-container {
    display: flex;
    align-items: center;
    margin: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode-label {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
    .toggle-container {
        top: 5px;
        right: 5px;
        margin: 20px;
    }

    .switch {
        width: 40px;
        height: 24px;
    }

    .slider:before {
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
    }

    .mode-label {
        margin-right: 3px;
        margin-left: 3px;
        font-size: 12px;
    }
}


.gender-group input[type="radio"] {
    display: none;
}

.gender-group label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.gender-group label[name="gender"]:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.gender-group input[type="radio"]:checked+label:before {
    background-color: #0004fd;
    border-color: #000000;
}

.gender-group label[name="gender"]:hover:before {
    border-color: #853939;
}

.sports-group input[type="checkbox"] {
    display: none;
}

.sports-group label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.checkbox-container {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked+label:before {
    background-color: #2196F3;
    border-color: #2196F3;
}

.checkbox-container label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.checkbox-container input[type="checkbox"]:checked+label:before {
    content: '\2713';
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    background-color: #00bd39;
    border-color: #2196F3;
}

.checkbox-container label:hover:before {
    border-color: #666;
}

.h3-container {
    display: inline;
    font-size: 20px;
    background-color: rgba(128, 0, 128, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    color: gold;
}

/* Responsive form styles */
@media (max-height: 550px) {
    .overlay-container {
        padding: 5px;
    }

    .form {
        font-size: 12px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="tel"] {
        padding: 5px;
        font-size: 12px;
    }

    .btn-submit {
        font-size: 12px;
        padding: 6px;
    }

    .gender-group label,
    .sports-group label {
        font-size: 12px;
    }

    .gender-group input[type="radio"],
    .sports-group input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .gender-group label[name="gender"]:before,
    .checkbox-container label:before {
        width: 12px;
        height: 12px;
    }

    .btn-close {
        width: 25px;
        height: 25px;
        font-size: 16px;
        line-height: 25px;
    }

    .overlay-container {
        width: 100%;
    }

    .gender-sports-container {
        flex-direction: column;
    }

    .gender-group,
    .sports-group {
        width: 100%;
    }
}

.thank-you-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-you-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.btn-thank-you-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: darkslategrey;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.btn-thank-you-close:hover {
    background-color: darkred;
}

.hidden {
    display: none;
}